<h1>Stations</h1>

<% @facade.stations.each do |station| %>
  <ul class="station">
    Name:
    <li class='name'><%= station.name %></liv><br>
    Address:
    <li class='address'><%= station.address %></liv><br>
    Fuel Types:
    <li class='fuel'><%= station.fuel_type %></liv><br>
    Distance:
    <li class='distance'><%= station.distance %></liv><br>
    Access Times:
    <li class='access'><%= station.access_times %></liv><br>
  </ul>
<% end %>
