<h1>Stations</h1>

<% @facade.stations.each do |station| %>
  <ul class="station">
    <li>Name: <%= station.name %></liv>
    <li>Address: <%= station.address %></liv>
    <li>Fuel Types: <%= station.fuel_types %></liv>
    <li>Distance: <%= station.distance %></liv>
    <li>Access Times: <%= station.access_times %></liv>
  </ul>
<% end %>
